<tr id="<%= dom_id employee %>">
  <td><%= employee.fullname %></td>
  <td><%= employee.phone %></td>
  <%
=begin%>
 <td><%= manager_name(employee.manager_id) %></td>   
<%
=end%>
  <td><%= employee.manager&.fullname || '-' %></td>  
  <td><%= employee.role.role_name %></td>
  
  <td><%= link_to "Edit", edit_employee_path(employee), class: "btn btn-sm btn-info" %></td>
</tr>
